= form_with(model: user, local: true) do |form|
  %div{class: "field"}
    = form.label :name
    %br
    = form.text_field :name, id: :user_name
  %div{class: "field"}
    = form.label :department
    %br
    = form.text_field :department, id: :user_department
  %div{class: "actions"}
    = form.submit
